*.l[ao]
*.o

.deps
.libs

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing

/m4/libtool.m4

/addins/dl/mds_install/mds_install
/apps/mod_install/mod_install
/apps/NonGUI_Sample/Sample
/apps/Test/BioAPITest
